<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>new moto</title>
</head>
<body>
<form th:method="POST" th:action="@{/employee}" th:object="${employee}">
  <label for="login">Enter login</label>
  <input type="text" th:field="*{login}" id="login">
  <br/>
  <label for="firstName">Enter firstName</label>
  <input type="text" th:field="*{firstName}" id="firstName">
  <br/>
  <label for="lastname">Enter lastName</label>
  <input type="text" th:field="*{lastName}" id="lastname">
  <br/>
  <label for="email">Enter Email</label>
  <input type="text" th:field="*{email}" id="email">
  <br/>
  <input type="submit" value="create"/>
</form>
</body>
</html>